.form_container {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.form_container .form {
  max-width: 80%;
  background: #f7f7f7;
  box-shadow: 0.4375rem 0.4375rem 0.9375rem rgba(0, 0, 0, 0.08);
  border-radius: 1.25rem;
  padding: 2.25rem 4rem;
}

.form_container .form h2 {
  font-weight: 400;
  font-size: 2rem;
}
