.footer {
  background: #78beb2;
  color: #fff;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 2rem;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer .heart {
  color: #608f86;
}

@media (max-width: 468px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}