.footer {
  background: #6278f7;
  color: #fff;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 2rem;
}

.footer ul li:last-child {
  margin-right: 0;
}
