.meditation {
    text-align: center;
    padding: 32px;
}

.meditation h3 {
    font-size: 32px;
    border-radius: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.meditation .instructors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-wrap: 32px;
}