.meditation {
  text-align: center;
  padding: 2rem;
  background-blend-mode: multiply;
}

.meditation h3 {
  font-size: 2rem;
  font-family: "Prata";
  border-bottom: 0.25rem solid;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.meditation .instructors {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 2.8125rem;
}
